/**
 * Variables
 */
body {
  color: #FFFFFF;
  background: #ccc; }

::selection {
  color: #071013;
  background: #FFFFFF; }

/**
 * Layout
 */
.container-fluid-home {
  padding-left: 0;
  padding-right: 0; }

.container-fluid-default {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0; }

/**
 * Typography & Brand
 */
.code, pre,
code, .tagline {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.abstract-typography, .light-typography, h1, h2, h3, h4, h5, .navbar, .navbar-menu, .normal-typography, body, .strong-typography, .navbar-brand .navbar-brand-small, nav .navbar-nav li {
  font-family: "Roboto", sans-serif; }

.light-typography, h1, h2, h3, h4, h5, .navbar, .navbar-menu {
  font-weight: 300; }

.normal-typography, body {
  font-weight: 400; }

.strong-typography, .navbar-brand .navbar-brand-small, nav .navbar-nav li {
  font-weight: 800; }

.tagline {
  font-weight: 100;
  font-size: 16px;
  color: #c7e2eb; }
  .tagline .dud {
    color: #6ab1c8; }

/**
 * Navbar
 */
.navbar {
  background-color: #071013;
  padding: 10px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.navBackgroundVisible,
.navToggleBackgroundVisible {
  background-color: #071013; }

.navbar-brand {
  padding: 0;
  color: #FFFFFF; }
  .navbar-brand .navbar-brand-image {
    width: 20%;
    float: left; }
    .navbar-brand .navbar-brand-image img {
      width: 100%;
      height: auto; }
  .navbar-brand .navbar-brand-typography {
    width: 60%;
    float: left;
    padding: 10px 0 0 10px; }

.navbar-brand-small,
.navbar-brand-full,
.navbar-menu {
  font-size: 14px; }

.navbar-menu {
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  display: none;
  background: none;
  border-radius: 0;
  border-top: 5px solid #FFFFFF;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 28px;
  right: 10px; }
  .navbar-menu:focus {
    outline: none; }

@media (min-width: 575.98px) {
  .navbar-brand .navbar-brand-full {
    display: inline; }
  .navbar-brand .navbar-brand-small {
    display: none; } }
nav .navbar-nav li {
  margin-left: 16px; }
  nav .navbar-nav li a {
    color: red;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
  nav .navbar-nav li a:hover {
    text-decoration: underline; }
  nav .navbar-nav li span {
    display: none; }
  nav .navbar-nav li.active span {
    display: inline; }

@media (max-width: 575.98px) {
  .button-mobile {
    display: block; }

  nav .navbar-nav {
    margin-top: 10px; }
    nav .navbar-nav li {
      font-size: 14px;
      margin-left: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: right; }
      nav .navbar-nav li.active span {
        display: inline; }
      nav .navbar-nav li.active .nav-link,
      nav .navbar-nav li .nav-link {
        color: #FFFFFF;
        background-color: #071013; }
        nav .navbar-nav li.active .nav-link:hover, nav .navbar-nav li.active .nav-link:active,
        nav .navbar-nav li .nav-link:hover,
        nav .navbar-nav li .nav-link:active {
          background-color: #FFFFFF;
          color: #071013;
          padding-right: 10px; }
    nav .navbar-nav a {
      padding: 10px 0 10px 0; }
      nav .navbar-nav a:hover, nav .navbar-nav a:active {
        text-decoration: none; } }

/*# sourceMappingURL=style.css.map */
