/**
 * Variables
 */
$dark: #0E2026
$darkRGBAtransparent: rgba(14, 32, 38, 0)
$darkRGBAopaque: rgba(14, 32, 38, 1)

$light: #FCFAF9

$indigo: #1C3F4B
$accent1: #56E39F
$accent2: #474044
$accent3: #4F5165
$accent4: #48E5C2

$hyperlinkHover: $accent4

$baseUnit: 10px
$baseFontSize: 1rem
$defaultPadding: 15px

$baseWhiteBorder: 5px solid $light
$thinWhiteBorder: 1px solid $light
$baseAccentBorder: 5px solid $accent1
$thinAccentBorder: 1px solid $accent1



/**
 * Globals
 */

body
  color: $light
  background: $dark

a
  color: $light
  text-decoration: underline

  &:hover,
  &:active
    color: $hyperlinkHover

::selection
  color: $light
  background: $accent1

@keyframes name-of-animation
  0%
    opacity: (0deg)
  100%
    transform: rotate(360deg)

.btn-primary
  background: $accent1
  border-color: $accent1
  padding: $baseUnit 40px $baseUnit 40px !important

  &:hover,
  &:active
    background-color: $hyperlinkHover !important
    border-color: $hyperlinkHover !important
    color: $light !important
    outline: none

.listen-now
  -webkit-transition: opacity 2s
  -moz-transition: opacity 2s
  transition: opacity 2s
  opacity: 0

.listen-now-visible
  opacity: 1


/**
 * Typography & Brand
 */

.code
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

.abstract-typography
  font-family: 'Roboto', sans-serif

.light-typography
  @extend .abstract-typography
  font-weight: 300

.normal-typography
  @extend .abstract-typography
  font-weight: 400

.strong-typography
  @extend .abstract-typography
  font-weight: 800

.ui-typography
  font-size: $baseFontSize

h1, h2, h3, h4, h5
  @extend .light-typography
  color: $accent1

h1
  font-size: 2rem

h2, h3, h4, h5, h6
  font-size: 1.5rem

  a
    text-decoration: none

body
  @extend .normal-typography

pre,
code,
samp
  @extend .code
  color: $accent1

time
  color: $light

ul
  padding: 0 0 0 $baseUnit
  list-style: none

  li
    padding: 0 0 $baseUnit / 2 0

  li:before
    content: "- "

blockquote
  @extend .normal-typography
  padding-left: $baseUnit
  border-left: $baseAccentBorder

hr
  border-top: $thinAccentBorder

.card
  background: $indigo
  margin-bottom: 30px

  a
    color: $accent1

    &:hover,
    &:active
      color: $hyperlinkHover

.tagline
  @extend .code
  font-weight: 100
  font-size: 32px
  color: $light
  text-align: center
  height: 100px
  margin-top: 50px

  .dud
    color: darken($light, 25%)

.home-logo
  width: 100%
  height: auto

.release-form
  @extend .code

.sanctuary-of-the-commoner-earth
  @extend .code
  font-size: 12px

  a
    text-decoration: none

    &:hover
      text-decoration: underline

/**
 * Rows, Columns, & Containers
 */

.container-fluid
  margin-top: 200px

.container-fluid.container-fluid-home
  margin-top: 0

.row-hero
  background-image: url("images/samantha-keely-smith-untitled.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom
  height: 500px

.row-home
  padding: 50px 0 50px 0

  h2
    color: $light

.row-platforms
  @extend .row-home
  text-align: center

  .col-sm-12
    margin-bottom: 50px

    a
      text-decoration: none

    i
      font-size: 48px



/**
 * Navbar
 */

.navbar
  @extend .light-typography
  background-color: $darkRGBAtransparent
  border-bottom: $thinWhiteBorder
  border-bottom-color: $darkRGBAtransparent
  padding: 10px
  padding: $baseUnit $defaultPadding $baseUnit $defaultPadding
  -webkit-transition: background-color .5s, border-bottom .5s
  -moz-transition: background-color .5s, border-bottom .5s
  transition: background-color .5s, border-bottom .5s

.nav-background-visible,
.nav-toggle-background-visible
  background-color: $darkRGBAopaque
  border-bottom: $thinWhiteBorder

.navbar-brand
  margin: 0
  padding: 0
  color: $light

  .navbar-brand-image
    width: 70
    float: left

  .navbar-brand-typography
    width: 60%
    float: left
    padding: $baseUnit 0 0 $baseUnit

  .navbar-brand-acronym
    @extend .ui-typography
    @extend .strong-typography

.navbar-brand-acronym,
.navbar-brand-full,
.navbar-menu,
.nav-link
  @extend .ui-typography

.navbar-menu.collapsed
  border-top: $baseWhiteBorder

.navbar-menu
  @extend .light-typography
  color: $light
  text-align: center
  cursor: pointer
  display: block
  background: none
  border-radius: 0
  border-top: $baseAccentBorder
  border-right: none
  border-bottom: none
  border-left: none
  padding: 0
  width: 40px
  height: 40px
  position: absolute
  top: 33px
  right: 10px

  &:focus
    outline: none

.navbar-nav
  margin-top: 10px

  li:before
    content: none

  li
    @extend .strong-typography
    margin: 10px 0 10px 0
    text-align: right

    &.active span
      display: inline

    .nav-link
      color: $accent1
      text-decoration: none

      &:hover, &:active
        text-decoration: underline
  


/**
 * Footer
 */

footer
  margin-top: 100px

.row-footer
  padding-top: $defaultPadding
  background: $dark

  a
    color: $light
    text-decoration: underline

    &:hover
      color: $hyperlinkHover

  .col-sm-12
    padding-bottom: $baseUnit

    ul
      margin: 0
      padding: 0 0 $baseUnit 0

      li:before
        content: none

      li
        margin: 0
        padding: 0 0 5px 0

        a
          text-decoration: none

          &:hover
            text-decoration: underline



/**
 * Desktop
 */

@media (min-width: 767.98px)

  .button-mobile
    display: none

  .row-platforms .col-sm-12
    margin-bottom: 0

  .navbar-nav
    margin: 0
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end

    li:before
      content: none

    li
      border-top: $baseWhiteBorder
      border-right: none
      border-bottom: none
      border-left: none
      padding: 0
      height: 40px
      margin-top: 25px
      margin-left: 20px
      font-size: 14px

      &:hover,
      &.active
        border-top-color: $hyperlinkHover

      .nav-link
        color: $light
        margin-top: 0
        margin-bottom: 0
        padding-top: 6px
        padding-bottom: 0
        text-decoration: none
        font-weight: 300

        span
          display: none



/**
 * Shame
 */     

// Bootstrap says this class is implemented, but it doesn't work out of the box:
.overflow-hidden
  overflow: hidden     

