/**
 * Variables
 */
$dark: #071013 // 7, 16, 19
$grey: #333333
$accent: #FF0000
$light: lighten($dark, 80%)
$white: #FFFFFF

$baseUnit: 10px



/**
 * Globals
 */

body
  color: $white
  background: #ccc

a
  &:hover,
  &:active
    color: $accent

::selection
  color: $white
  background: $accent

.btn-primary
  background: $accent
  border-color: $accent

  &:hover,
  &:active
    background-color: $white !important
    border-color: $white !important
    color: $accent !important
    outline: none



/**
 * Typography & Brand
 */

.code
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

.abstract-typography
  font-family: 'Roboto', sans-serif

.light-typography
  @extend .abstract-typography
  font-weight: 300

.normal-typography
  @extend .abstract-typography
  font-weight: 400

.strong-typography
  @extend .abstract-typography
  font-weight: 800

h1, h2, h3, h4, h5
  @extend .light-typography

body
  @extend .normal-typography

pre,
code
  @extend .code
 
.tagline
  @extend .code
  font-weight: 100
  font-size: 32px
  color: $white
  text-align: center
  height: 100px
  margin-top: 50px

  .dud
    color: darken($white, 25%)



/**
 * Hero
 */


.row-hero
  background-image: url("images/samantha-keely-smith-untitled.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom
  height: 500px

.row-dark
  background: $dark
  padding: 50px 0 50px 0











/**
 * Navbar
 */

.navbar
  @extend .light-typography
  background-color: rgba(7, 16, 19, 0) // 0
  padding: 10px
  -webkit-transition: background-color .5s
  -moz-transition: background-color .5s
  transition: background-color .5s

.navBackgroundVisible,
.navToggleBackgroundVisible
  background-color: rgba(7, 16, 19, 1)

.navbar-brand
  padding: 0
  color: $white

  .navbar-brand-image
    width: 70
    float: left

  .navbar-brand-typography
    width: 60%
    float: left
    padding: $baseUnit 0 0 $baseUnit

  .navbar-brand-small
    @extend .strong-typography

.navbar-brand-small,
.navbar-brand-full,
.navbar-menu,
.nav-link
  font-size: 14px

.navbar-menu.collapsed
  border-top: 5px solid $white

.navbar-menu
  @extend .light-typography
  color: $white
  text-align: center
  cursor: pointer
  display: block
  background: none
  border-radius: 0
  border-top: 5px solid $accent
  border-right: none
  border-bottom: none
  border-left: none
  padding: 0
  width: 40px
  height: 40px
  position: absolute
  top: 29px
  right: 10px

  &:focus
    outline: none

.navbar-nav
  margin-top: 10px

  li
    @extend .strong-typography
    margin: 10px 0 10px 0
    text-align: right

    &.active span
      display: inline

    .nav-link
      color: $accent

      &:hover, &:active
        text-decoration: underline
  
@media (min-width: 575.98px)

  .button-mobile
    display: none

  .navbar-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end

    li
      border-top: 5px solid $white
      border-right: none
      border-bottom: none
      border-left: none
      padding: 0
      height: 40px
      margin-left: 20px
      font-size: 14px

      &:hover
        border-top-color: $accent

      span
        display: none

      &.active span
        display: inline

      .nav-link
        color: $white
        font-weight: 300
        margin: 0

        &:hover
          text-decoration: none



/**
 * Shame
 */     

// Bootstrap says this class is implemented, but it doesn't work out of the box:
.overflow-hidden
  overflow: hidden     