/**
 * Variables
 */
/**
 * Globals
 */
body {
  color: #FCFAF9;
  background: #0E2026; }

a {
  color: #FCFAF9;
  text-decoration: underline; }
  a:hover, a:active {
    color: #48E5C2; }

::selection {
  color: #FCFAF9;
  background: #56E39F; }

@keyframes name-of-animation {
  0% {
    opacity: 0deg; }
  100% {
    transform: rotate(360deg); } }
.btn-primary {
  background: #56E39F;
  border-color: #56E39F;
  padding: 10px 40px 10px 40px !important; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #48E5C2 !important;
    border-color: #48E5C2 !important;
    color: #FCFAF9 !important;
    outline: none; }

.listen-now {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0; }

.listen-now-visible {
  opacity: 1; }

/**
 * Typography & Brand
 */
.code, pre,
code,
samp, .tagline, .release-form, .sanctuary-of-the-commoner-earth {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.abstract-typography, .light-typography, h1, h2, h3, h4, h5, .navbar, .navbar-menu, .normal-typography, body, blockquote, .strong-typography, .navbar-brand .navbar-brand-acronym, .navbar-nav li {
  font-family: "Roboto", sans-serif; }

.light-typography, h1, h2, h3, h4, h5, .navbar, .navbar-menu {
  font-weight: 300; }

.normal-typography, body, blockquote {
  font-weight: 400; }

.strong-typography, .navbar-brand .navbar-brand-acronym, .navbar-nav li {
  font-weight: 800; }

.ui-typography, .navbar-brand .navbar-brand-acronym, .navbar-brand-acronym,
.navbar-brand-full,
.navbar-menu,
.nav-link {
  font-size: 1rem; }

h1, h2, h3, h4, h5 {
  color: #56E39F; }

h1 {
  font-size: 2rem; }

h2, h3, h4, h5, h6 {
  font-size: 1.5rem; }
  h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

pre,
code,
samp {
  color: #56E39F; }

time {
  color: #FCFAF9; }

ul {
  padding: 0 0 0 10px;
  list-style: none; }
  ul li {
    padding: 0 0 5px 0; }
  ul li:before {
    content: "- "; }

blockquote {
  padding-left: 10px;
  border-left: 5px solid #56E39F; }

hr {
  border-top: 1px solid #56E39F; }

.card {
  background: #1C3F4B;
  margin-bottom: 30px; }
  .card a {
    color: #56E39F; }
    .card a:hover, .card a:active {
      color: #48E5C2; }

.tagline {
  font-weight: 100;
  font-size: 32px;
  color: #FCFAF9;
  text-align: center;
  height: 100px;
  margin-top: 50px; }
  .tagline .dud {
    color: #d2b3a4; }

.home-logo {
  width: 100%;
  height: auto; }

.sanctuary-of-the-commoner-earth {
  font-size: 12px; }
  .sanctuary-of-the-commoner-earth a {
    text-decoration: none; }
    .sanctuary-of-the-commoner-earth a:hover {
      text-decoration: underline; }

/**
 * Rows, Columns, & Containers
 */
.container-fluid {
  margin-top: 200px; }

.container-fluid.container-fluid-home {
  margin-top: 0; }

.row-hero {
  background-image: url("images/samantha-keely-smith-untitled.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px; }

.row-home, .row-platforms {
  padding: 50px 0 50px 0; }
  .row-home h2, .row-platforms h2 {
    color: #FCFAF9; }

.row-platforms {
  text-align: center; }
  .row-platforms .col-sm-12 {
    margin-bottom: 50px; }
    .row-platforms .col-sm-12 a {
      text-decoration: none; }
    .row-platforms .col-sm-12 i {
      font-size: 48px; }

/**
 * Navbar
 */
.navbar {
  background-color: rgba(14, 32, 38, 0);
  border-bottom: 1px solid #FCFAF9;
  border-bottom-color: rgba(14, 32, 38, 0);
  padding: 10px;
  padding: 10px 15px 10px 15px;
  -webkit-transition: background-color 0.5s, border-bottom 0.5s;
  -moz-transition: background-color 0.5s, border-bottom 0.5s;
  transition: background-color 0.5s, border-bottom 0.5s; }

.nav-background-visible,
.nav-toggle-background-visible {
  background-color: #0e2026;
  border-bottom: 1px solid #FCFAF9; }

.navbar-brand {
  margin: 0;
  padding: 0;
  color: #FCFAF9; }
  .navbar-brand .navbar-brand-image {
    width: 70;
    float: left; }
  .navbar-brand .navbar-brand-typography {
    width: 60%;
    float: left;
    padding: 10px 0 0 10px; }

.navbar-menu.collapsed {
  border-top: 5px solid #FCFAF9; }

.navbar-menu {
  color: #FCFAF9;
  text-align: center;
  cursor: pointer;
  display: block;
  background: none;
  border-radius: 0;
  border-top: 5px solid #56E39F;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 33px;
  right: 10px; }
  .navbar-menu:focus {
    outline: none; }

.navbar-nav {
  margin-top: 10px; }
  .navbar-nav li:before {
    content: none; }
  .navbar-nav li {
    margin: 10px 0 10px 0;
    text-align: right; }
    .navbar-nav li.active span {
      display: inline; }
    .navbar-nav li .nav-link {
      color: #56E39F;
      text-decoration: none; }
      .navbar-nav li .nav-link:hover, .navbar-nav li .nav-link:active {
        text-decoration: underline; }

/**
 * Footer
 */
footer {
  margin-top: 100px; }

.row-footer {
  padding-top: 15px;
  background: #0E2026; }
  .row-footer a {
    color: #FCFAF9;
    text-decoration: underline; }
    .row-footer a:hover {
      color: #48E5C2; }
  .row-footer .col-sm-12 {
    padding-bottom: 10px; }
    .row-footer .col-sm-12 ul {
      margin: 0;
      padding: 0 0 10px 0; }
      .row-footer .col-sm-12 ul li:before {
        content: none; }
      .row-footer .col-sm-12 ul li {
        margin: 0;
        padding: 0 0 5px 0; }
        .row-footer .col-sm-12 ul li a {
          text-decoration: none; }
          .row-footer .col-sm-12 ul li a:hover {
            text-decoration: underline; }

/**
 * Desktop
 */
@media (min-width: 767.98px) {
  .button-mobile {
    display: none; }

  .row-platforms .col-sm-12 {
    margin-bottom: 0; }

  .navbar-nav {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .navbar-nav li:before {
      content: none; }
    .navbar-nav li {
      border-top: 5px solid #FCFAF9;
      border-right: none;
      border-bottom: none;
      border-left: none;
      padding: 0;
      height: 40px;
      margin-top: 25px;
      margin-left: 20px;
      font-size: 14px; }
      .navbar-nav li:hover, .navbar-nav li.active {
        border-top-color: #48E5C2; }
      .navbar-nav li .nav-link {
        color: #FCFAF9;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 6px;
        padding-bottom: 0;
        text-decoration: none;
        font-weight: 300; }
        .navbar-nav li .nav-link span {
          display: none; } }
/**
 * Shame
 */
.overflow-hidden {
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
