<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>


  {%- include header.html -%}



  <main class="container-fluid container-fluid-home">


    <div class="row row-hero">

      <div class="col flex-column d-flex align-items-center justify-content-center overflow-hidden">
          <h2 class="tagline p-2 align-self-center justify-content-center">A Podcast For Now</h2>
          <button class="btn btn-primary btn-lg listen-now p-2">Listen Now</button>
      </div>

    </div>



  <div class="row row-home">

    <div class="col-sm-12 col-md-4 offset-md-2">
      {% for episode in site.episodes limit:3 %}
        <div class="card">
          <div class="card-body">
            <h2><a href="/episodes#{{ episode.number }}">{{ episode.title }}</a></h4>
            <p>{{ episode.date }}</p>
            <p>{{ episode.notesShort }}</p>
            <a href="/episodes#{{ episode.number }}">Read more...</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-sm-12 col-md-4">
      {% for post in site.posts limit:3 %}
      <div class="card">
        <div class="card-body">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url | relative_url }}">Read more...</a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>



  <div class="row row-platforms">
    <div class="col-sm-12 col-md-2 offset-md-2">
      <a href="#"><i class="fab fa-soundcloud"></i><br>SoundCloud</a>
    </div>
    <div class="col-sm-12 col-md-2">
      <a href="#"><i class="fab fa-itunes"></i><br>iTunes</a>
    </div>
    <div class="col-sm-12 col-md-2">
      <a href="#"><i class="fab fa-google-play"></i><br>Play</a>
    </div>
    <div class="col-sm-12 col-md-2">
      <a href="#"><i class="fab fa-spotify"></i><br>Spotify</a>
    </div>
  </div>

  <div class="row row-home">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <p>Coordinated Universal Time is a sonic collage of foxfire-side readings, thinking machines, disembodied conversations, music we found in this world or made in another. Deep time reverberations and field recordings from the front lines of a future held in common. An aural zine hand-pasted and neural-networked by solar golems from the 23rd century, still quickening in the coals of the present: a podcast for now.</p>
        </div>
      </div>
    </div>
  </div>


{%- include footer.html -%}


  </main>
</body>

{%- include javascript.html -%}

</html>